@charset "utf-8";
/**
*	@ Date 2017.5
*	@ Author Hemin
*/
.area_header { width: 100%; height: 95px; position:fixed; z-index: 99; background: #fff;}
.am-g-fixed { position: fixed; z-index: 99;}
.header { width:1200px; margin:0 auto;}
.logo { height: 95px; float:left; width:185px; background:url('../images/logo.png') 0 0 no-repeat;}
.header ul { width:800px; height: 18px; float: right; margin-top:32px;}
.header ul li { height: 30px; border-right: 1px solid #d9d9d9; float:left; width: 125px; text-align: center; line-height: 30px; }
.header ul li.active { background: #2472a8; color:#fff;}
.header ul li.no_border { border:0px;}
.header ul li.active a:link,.header ul li.active a:visited { color:#fff;}
.header ul li a:link,.header ul li a:visited { width:125px; height: 30px; display: block; font-size: 1.7rem; text-decoration: none; color:#4d4d4d;}
.header ul li a:hover { width:125px; height: 30px; display: block; cursor:pointer;text-decoration: none; color:#2472a8; }
.fp-controlArrow.fp-prev { width:88px; height:88px; background: url('../images/btn_jt.png') 0 0 no-repeat; border:0px;}
.fp-controlArrow.fp-next { width:88px; height:88px; background: url('../images/btn_jt.png') -88px 0 no-repeat;border:0px;}
.cont_fugan { width: 1200px; height: 364px; margin:0 auto;}
.yylc { width: 1200px; height: 910px; margin:0 auto;}
.title_fgjz { width: 470px; height: 85px; margin:80px auto 0px;}
.title_yyxz { width: 302px; height: 83px; margin:60px auto 0px;}
.iconlist { width: 990px; height: 110px; margin:60px auto 0px;}
.addr { width: 1200px; height: 480px; margin:50px auto 0px;}
.title_yhfx { width: 403px; height: 83px; margin:40px auto 0px;}
.cont_share { width:1200px; height: 420px; margin:75px auto 0px;}
.one_share { width:210px; height: 210px; float: left; margin-right:37px; margin-bottom:15px; overflow: hidden;}
.font_share { width: 180px; height: 30px; line-height: 22px; font-size: 1.4rem; text-align: center; margin:0 auto; padding-top: 10px;}
.one_share a:link,.one_share a:visited { color:#4d4d4d;}
.one_share a:hover { color:#2472a8;}
.magin_right_0 { margin-right:0px;}
.btn_share { width: 110px; height: 33px; margin:50px auto 0px;}
.btn_share a:link,.btn_share a:visited { width: 110px; height: 33px; background:#2472a8; display: block; cursor:pointer; border-radius: 8px; color:#fff; line-height: 33px; font-size: 1.4rem;}
.btn_share a:hover { background: #3a90cc;}
.title_xgsp { width: 156px; height: 83px; margin:40px auto 0px;}
.bg_video { width: 210px; height: 150px; background: url('../images/bg_video.png') 0 0 no-repeat; position: relative; top:-150px;}
.font_video {width: 180px; height: 30px; line-height: 22px; font-size: 1.4rem; text-align: center; margin:0 auto; padding-top: 10px; position: relative; top:-150px; }
.one_share a:hover .bg_video { filter:alpha(opacity=40); /*IE滤镜，透明度50%*/-moz-opacity:0.4; /*Firefox私有，透明度50%*/opacity:0.4;}
.title_xgzs { width: 233px; height: 83px; margin:30px auto 0px;}
.cont_xgzs { width: 1200px; height: 450px; margin:45px auto 0px;}
.cont_xgzs ul li{ width:450px; height: 40px; line-height: 40px; float: left; font-size: 1.5rem; margin-left:120px; text-align: left;}
.cont_xgzs ul li a:link,.cont_xgzs ul li a:visited { color:#4d4d4d;}
.cont_xgzs ul li a:hover { color:#2472a8; text-decoration: underline;}
.area_footer { width: 100%; height: 193px; background: #4d4d4d; position: absolute; bottom:0px; z-index: 99; overflow: hidden; }
.footer { width: 1200px; height: 98px; margin:0 auto;}
.logo_footer { width: 210px; height: 98px; margin-top:45px; border-right:1px solid #717171; float:left; background: url('../images/logo_footer.png') 0 26px no-repeat;}
.area_addr { width:510px; height: 80px; margin-top:45px; line-height: 30px; font-size: 1.4rem; color:#e3e3e3; float:left; text-align: left; padding-left:30px;}
.area_yyrx { width:260px; height: 130px; float: left; font-size: 1.4rem; margin-top: 45px; color:#e3e3e3; text-align: left;}
.area_yyrx span { font-size: 3rem;}
.area_img {width: 162px; height: 44px;}
.erweima { width: 110px; height: 160px; font-size: 1.4rem; float:left; margin-top:45px; margin-right: 0px; line-height: 30px; color:#fff; text-align: center;}
.anv_fixed { width: 120px; height: 410px;  z-index: 99; position: absolute; right:103px; top:140px; text-align: center;  background: #fff;filter:alpha(opacity=60); /*IE滤镜，透明度50%*/-moz-opacity:0.6; /*Firefox私有，透明度50%*/opacity:0.6;}
.ul_anv { width: 100px; height: 390px;  z-index: 100; position: absolute; right:113px; top:150px; text-align: center; background: #fff; padding:0px; margin:0px;}
.ul_anv li a:link,.ul_anv li a:visited { width: 100px; height: 65px; display: block; text-align: center; color:#000; font-size: 2rem; line-height: 65px;}
.ul_anv li a.active { width: 100px; height: 65px; display: block; text-align: center; color:#fff; font-size: 2rem; line-height: 65px;}
.ul_anv li a:hover { width: 100px; height: 65px; cursor: pointer;}
.ul_anv li.btn_hd { background: #eeba21;}
.ul_anv li.btn_hpv { background: #2472a8;}
.ul_anv li.btn_zs { background: #eb7013;}
.ul_anv li.btn_fx { background: #64c5d5;}
.ul_anv li.btn_sp { background: #8ebd0f;}
.ul_anv li.btn_hzs { background: #2d51af;}
.my-button {position: fixed; top:12px; right:12px; border-radius: 0;}
.my-sidebar { padding-right: 0; border-right: 1px solid #eeeeee;}
.section { text-align: center; color: #fff;}
.ad_zhishi { width: 100%; height: 185px; position: relative;background: #fff; margin-top: 0 auto; text-align: center;}
.cont_zhishi { width: 1200px; height: auto; margin: 0 auto; position: relative; }
.left_zhishi { width: 755px; height: auto; float: left; position: relative; top: 30px;}
.right_zhishi { width: 415px; height: auto; float: right;}
.title_zhishi { width: 755px; height: 40px; line-height: 40px; padding-left:20px; border-bottom:1px solid #d9d9d9; font-size: 1.5rem; color:#2472a8;}
.title_zhishi a:link,.title_zhishi a:visited { color:#4d4d4d;}
.width1200{ width: 1200px;}
.one_zhishi { width:755px; height: 170px; float: left; background: #fff; }
.title_article { width: 700px; padding-left:40px; padding-top:20px; background: url('../images/bg_article.png') 20px 26px no-repeat; color:#2472a8; font-size: 1.8rem;} 
.title_article span { color:#999999; font-size: 1.3rem; float: right; position: relative; top:4px;}
.zy_article { width: 725px; height: 90px; line-height: 26px; font-size: 1.5rem; padding-left:40px; padding-top:12px;}
.bg_fdfdfd { background: #f7f7f7;}
.right_ad { width: 415px; height: auto; margin-top: 70px; }
.area_rigad { width: 415px; height: 190px;}
.one_rigad{ width: 195px; height: 180px; float: left; text-align: center; margin-right: 25px;font-size: 1.6rem; line-height: 36px;}
.one_rigad a:link,.one_rigad a:visited { color:#4d4d4d;}
.one_rigad a:hover { color:#2472a8; }
.title_paihang{ width:415px; height: 40px; line-height: 40px; border-bottom:1px solid #d9d9d9; font-size: 1.5rem;}
.cont_paihang li { height:32px; list-style: 32px; font-size: 1.4rem;}
.title_article a:link,.title_article a:visited { color:#2472a8;}
.title_article a:hover { text-decoration: underline;}
.area_fenye{ width:600px; height: 37px; position: relative; top:25px; overflow: hidden;}
.area_fenye li { width: 37px; height: 37px; float: left;border:1px solid #eeeeee; border-radius: 2px; margin-right: 10px; line-height: 37px; text-align: center; font-size: 1.5rem;}
.area_fenye li.active a:link,.area_fenye li.active a:visited { background: #ffba00; color:#fff;}
.area_fenye li a:link,.area_fenye li a:visited { width: 37px; height: 37px; display: block;  }
.area_fenye li a:hover { width: 37px; height: 37px; display: block; cursor: pointer; background: #ffba00; color:#fff; }
.cont_video { width: 1200px; height: auto; overflow: hidden; margin-top: 40px;}
.wid460 { width: 500px;}
.martop30 { margin-top: 30px;}
.no_bg { background: none;} 
.padtop10{ padding-top: 10px;}
.height215 { height: 215px; padding-top: 30px; padding-left: 30px;}
.area_fx { float: left; position:relative; left:-20px;}
.title_hegan { width: 1200px; height: 40px; line-height: 40px; text-align: center; font-size: 2.4rem; color:#2472a8; font-weight: normal;}
.cont_hegan { width: 980px; height: auto; font-size: 1.6rem; margin:40px auto;}
.cont_hegan p { line-height: 30px; }
.width670 { width: 670px; overflow: hidden;}
.margintop35 { margin:0 auto; margin-top: 35px;}
.position_rela { position: relative;}

@media only screen and (max-width: 640px) {
.logo{ width: 185px; height: 65px; background-size: contain; margin-left:15px;}
.area_header { height: 65px;}
.hotpic { display: none;}
.am-offcanvas-bar .am-nav>li>a {color:#ccc;border-radius: 0;border-top: 1px solid rgba(0,0,0,.3);box-shadow: inset 0 1px 0 rgba(255,255,255,.05)}
.am-offcanvas-bar .am-nav>li>a:hover {background: #404040;color: #fff}
.am-offcanvas-bar .am-nav>li.am-nav-header {color: #777;background: #404040;box-shadow: inset 0 1px 0 rgba(255,255,255,.05);text-shadow: 0 1px 0 rgba(0,0,0,.5);border-top: 1px solid rgba(0,0,0,.3);font-weight: 400;font-size: 75%}
.am-offcanvas-bar .am-nav>li.am-active>a {background: #1a1a1a;color: #fff;box-shadow: inset 0 1px 3px rgba(0,0,0,.3)}
.am-offcanvas-bar .am-nav>li+li {margin-top: 0;}
}


